*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', serif;
  }

.header{
    background-color: rgb(105, 105, 105);
    color: #f3f0e1;
    padding: 10px;
    text-align: center;
    font-size: x-large;
}


h2{
    font-style: "Georgia";
    color: rgb(105, 105, 105);
    padding-left: 20px;
}


.about{
    width: 66%;
    padding-top: 10px;
    padding-left: 30px;
    float: left;
}

.contact{
    width: 33%;
    float: right;
    padding-top: 10px;
}

img{
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 20px;
}

p{
    text-align: justify;
}

a:visited{
    color: rgb(214, 130, 144);
}

a:link{
    color: rgb(105, 105, 105);
}